*,
::before,
::after {
  box-sizing: border-box;
}

#appq-loading-content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingImg img {
  width: 100px;
}
