/**
  * waiting for upocoming supprt for @container in styled components
  * currently only supported in v6 beta
  * for the time being, we use css modules
  */

.responsive-container {
  container: responsive-container / inline-size;
}

@container responsive-container (width > 576px) {
  .flex-3-sm {
    flex-basis: 25% !important;
  }
  .max-width-6-sm {
    max-width: 50% !important;
  }
}
